body{
    background:#ddd;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    font-family:Arial;
}

.device{
    background:#a6c63b;
    padding:20px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.3);
}

.board{
    display:flex;
    gap:10px;
    background:#1a1a1a;
    padding:15px;
    border-radius:15px;
}

#rows{
    display:flex;
    flex-direction:column;
    gap:8px;
}

.row{
    display:flex;
    gap:8px;
}

.cell{
    width:35px;
    height:35px;
    background:#333;
    border-radius:4px;
    border:1px solid #111;
}

#hints{
    display:flex;
    flex-direction:column;
    gap:8px;
}

.hintRow{
    width:40px;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:4px;
}

.dot{
    width:10px;
    height:10px;
    border-radius:50%;
    background:#222;
}

.green{
    background:#57ff57;
    box-shadow:0 0 10px #57ff57;
}

.white{
    background:#fff;
    box-shadow:0 0 10px white;
}

.palette{
    margin-top:20px;
    display:flex;
    justify-content:center;
    gap:10px;
}

.color{
    width:60px;
    height:60px;
    border:none;
    border-radius:10px;
}

.red{background:#ff5555;}
.yellow{background:#ffe24d;}
.purple{background:#b455ff;}
.cyan{background:#57ffff;}

.controls{
    margin-top:20px;
    display:flex;
    justify-content:center;
    gap:10px;
}

.controls button{
    padding:10px 15px;
}
